
<div class="form">
    <div class="card" *ngFor="let trash of trashList">
      <div class="example-card" appearance="outlined" *ngIf = "trash.isDeleted ">
        <mat-card-header>
          <mat-card-title>
            <h2>{{trash.title}}</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
          <p>{{trash.description}}</p>
        </mat-card-content>
        <mat-card-footer class="example-card-footer">
          <button class="but">Edit</button>
          <button class="but">Delete</button>
          <button class="but">Hide</button>
        </mat-card-footer>
      </div>
    </div>
  </div>