body{
    display: flex;
    flex-direction: column;
    background-color: #f0f4f9;
    justify-content: center;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 400;
   
}


form{
    flex-direction: column;
    padding: 36px 36px 10px;
    background-color: #ffffff ;
     border-radius: 28px;
    height: 350px;
    width: 1000px;
    margin-left: 150px ;
    margin-right:150px;
    display: flex;
    margin-bottom: 0px;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif !important;
    font-weight: 400;
}

.main>.mat-mdc-button:not(:disabled) {
    margin-left:0px;
    color: #0B57D0;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 400;
    font:14px;
}


.last-name{
    margin-top: 18px;
}


mat-form-field{
    width:400px;
    margin-left:9px;
    color: #1f1f1f;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 400;
}
.note{
    margin-left:8px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #444746;
    font-size: 0.875rem;

}
.mat-mdc-form-field-subscript-wrapper,.mat-mdc-form-field-bottom-align,.ng-tns-c1205077789-0{
   height: 60px;

}

mat-button{
    padding: 0px !important;
}

.blue-button{
   height: auto;
   text-align: left !important;

}
.button-class{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap:20px;
    padding-right: 15px;
}
.button{
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 50px;
   
}
.button-2{
    background-color: #0B57D0 !important;
}
.main{
    display: flex;
    margin-top: 24px;
}
h1{
    margin: 0;
    padding: 0px;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 400;
    
    font-weight: 400;
}
span{
    
    font-weight: 400;

}
.flex-container-1{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-left:9px;
}

.flex-container-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:17px;
    margin-left:9px;
}

.main-2{
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 155px;
    margin-top: 10px;
    font-size:12px;
    color:#1f1f1f
}
.footer-button{
    font-size:12px !important;
    color: #1f1f1f !important;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgb(231, 229, 229);
    
}

.footer-button:not(:hover){
    background-color: transparent;

}
.example-margin {
    margin: 0 12px;
  }
.ee {
    background-color: #f0f4f9;
    width: 180px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
.ee:hover {
    background-color: #e7e5e5;
}

.confirm {
    margin-left: 14px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    // font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
 
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }